*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body{
  background: black;
  color: white;
}

.container{
  margin-top: 80px;
  text-align: center;
}

/* Pink Title */
.title{
  display: inline-block;
  padding: 10px 22px;
  border-radius: 25px;
  background: linear-gradient(90deg, #ff0055, #ff4da6);
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 18px;
}
/* Header */
.header{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  margin-top: 40px;
}

.logo{
  width: 52px;
  height: 52px;
  border-radius: 14px;
  box-shadow: 0 0 18px #ff0055;
}

.title{
  padding: 12px 26px;
  border-radius: 30px;
  background: linear-gradient(90deg,#ff0055,#ff4da6);
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
}

.contact-box{
  margin: 18px auto;
  padding: 6px 14px;   /* ⭐ padding လျော့ */
  background: white;
  border-radius: 22px; /* ⭐ radius လျော့ */

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;

  width: fit-content;
}
.contact-box{
  transform: translate(25px, -25px);
}
.contact-text{
  font-weight: bold;
  font-size: 14px;     /* ⭐ စာသေး */
  color: black;

  display: flex;
  align-items: center;
}
.btn{
  width: 32px;        /* ⭐ 42 → 32 */
  height: 32px;
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.btn img {
  width: 18px;
  height: 18px;
}

.tiktok:hover{
  box-shadow: 0 0 14px #ff0055;
}

.telegram:hover{
  box-shadow: 0 0 14px #2aa9e0;
}

.product-card{
  display: flex;
  align-items: center;
  gap: 20px;

  margin: 30px auto;
  padding: 16px;

  max-width: 360px;
  background: transparent;
}

.product-left{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.product-left img{
  width: 170px;
  border-radius: 16px;
}

.buy-btn{
  background: white;
  border: none;
  padding: 8px 18px;
  border-radius: 20px;

  font-weight: bold;
  cursor: pointer;
}

.product-right{
  color: white;
  font-size: 14px;
}

.product-right h3{
  margin-bottom: 8px;
}
